@{
    ViewBag.Title = "ระบบสารสนเทศ บริษัท แจ็คไม่มา (1999) จำกัด";
}

<div class="jumbotron">
    <div class="row">
        <br />
        <h2>ระบบสารสนเทศ</h2>
        <br />
        <h1>บริษัท แจ็คไม่มา (1999) จำกัด</h1>
    </div>
</div>