
@{
    ViewBag.Title = "ยินดีต้อนรับสู่เว็บไซต์ ร้านขายส่งเฮียแจ๊ค";
    Layout = "~/Views/Shared/_PublicLayout.cshtml";
}

<div class="jumbotron">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-4">
            <h2>ยินดีต้อนรับสู่เว็บไซต์</h2>
            <br />
            <h2 class="text-success">ร้านขายส่ง</h2>
            <h1 class="text-success">เฮียแจ๊ค</h1>
        </div>
        <div class="col-sm-3">
            <img src="~/Images/jack_ma2.jpg" height="280" width="240">
        </div>
        <div class="col-sm-3"></div>
    </div>
</div>

